{%- set repos = [] -%}
{%- for repo in config_repos %}
  {%- set _ = repos.append({
  'remote': personal_remote_link,
  'link': personal_remote_link + '/' + repo + '.git',
  'dest': config_local_dest + '/' + repo
  }) -%}
{%- endfor %}
{%- for repo in project_repos %}
  {%- set _ = repos.append({
  'remote': personal_remote_link,
  'link': personal_remote_link + '/' + repo + '.git',
  'dest': project_local_dest + '/' + repo
  }) -%}
{%- endfor %}
{%- for repo in work_repos %}
  {%- set _ = repos.append({
  'remote': work_remote_link,
  'link': work_remote_link + '/' + repo + '.git',
  'dest': work_local_dest + '/' + repo
  }) -%}
{%- endfor %}
{{ repos }}
